.fa-css-progress-circle {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.fa-css-progress-circle > .progress-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid #848484;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.fa-css-progress-circle .text {
  width: 50%;
  height: 50%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-size: 40px;
  color: #29c4f4;
  text-align: center;
  padding-top: 16%;
  border-radius: 50%;
  border: 3px solid #848484;
}

.fa-css-progress-circle > .spiner-holder {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.spiner-holder > .spiner {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.spiner > .loader {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 20px solid #7cc343;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.spiner, .spiner-holder {
  -webkit-transform-origin:100% 100%;
  -moz-transform-origin:100% 100%;
  -ms-transform-origin:100% 100%;
  -o-transform-origin:100% 100%;
  transform-origin: 100% 100%;
}

.spiner-holder.animate-0-25-a {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform: rotate(90deg);
}

.spiner.animate-0-25-b {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform: rotate(-90deg);
}

.spiner-holder.animate-25-50-a {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform: rotate(180deg);
}

.spiner.animate-25-50-b {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform: rotate(-90deg);
}

.spiner-holder.animate-50-75-a {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  transform: rotate(270deg);
}

.spiner.animate-50-75-b {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform: rotate(-90deg);
}

.spiner-holder.animate-75-100-a {
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform: rotate(0deg);
}

.spiner.animate-75-100-b {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform: rotate(-90deg);
}
